@import url('https:fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29 !important;
    color: #ededed !important;
}

.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;;
}

.header.scrolled {
    background-color: #081b29 ; /* Exemplo de mudança de cor de fundo */
    transition: background-color ease 1s;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo-no-animation {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo-no-animation:hover {
    color: #00abf0;
    text-decoration: none;
}


.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
    text-decoration: none;
}

.logo:hover {
    color: #00abf0;
    text-decoration: none;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.home {
    height: 100vh;
    background: url('images/fundo.png') no-repeat;
    background-size: cover;
    background-position: no-repeat center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home.no-background {
    height: 100vh;
    background: none;
    display: flex;
    align-items: center;
    padding: 0 10%;
    flex-direction: column;
}
.home.no-background .home-content h1 {
    text-align: center !important;
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home-content {
    max-width: 600px;

}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: #081b29;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: #081b29;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 18px;
    margin: 20px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: #081b29;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 50px;
}

.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: #081b29;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ededed;
    font-size: 18px;
    font-weight: 500;
    width: 160px;
    height: 50px;
    border: 2px solid #ededed;
    border-radius: 5px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;;
}

.btn-box a:nth-child(1) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(1):hover {
    color: #081b29;
}


.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

.btn-box a:hover::before {
    width: 100%;
    transform: scaleX(1);
    transform-origin: left;
}

.btn-box a:hover::after {
    color: #081b29;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: #081b29;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay:2.5s;
    z-index: 2;
}

.home-sci a {
    position:relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #00abf0;
    border-radius: 50%;
    font-size: 28px;
    color: #ededed;
    text-decoration: none;
    transition: .5s ease;
}

.home-sci a:hover {
    color: #00abf0;
    text-decoration: none;
}


.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s;
    transform: scale(0);
    border-radius: 50%;
}

.home-sci a:hover::before {
    width: 100%;
    transform: scale(1);
}

.home-sci a:hover {
    color: #081b29;
}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 30px;
    width: 600px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}


.home-imgHover:hover {
    background: #081b29;
    opacity: .5;
}

.home-imgHover::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: #081b29;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay:3s;
    z-index: 100;
}

.card-text {
    width: 70%;
    text-align: left;
}

/* Adicionando espaçamento entre os tópicos */
.curriculo-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #00abf0;
}

.curriculo-subtitle {
    font-size: 20px;
    color: #ededed;
    margin-bottom: 10px;
}

.curriculo-text {
    font-size: 16px;
    color: #ededed;
    margin-bottom: 10px;
}

.curriculo-list {
    margin-bottom: 20px;
}

/* Ajustando o alinhamento da linha e dos círculos na timeline */
.timeline {
    position: relative;
    padding-left: 21px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    width: 2px;
    height: 100%;
    background: #00abf0;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 20px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -15px;
    width: 10px;
    height: 10px;
    background: #00abf0;
    border-radius: 50%;
}

/* Destaque dos nomes das empresas e faculdades */
.timeline-item h4 {
    margin-bottom: 5px;
    color: #319cca; /* Cor destacada */
    font-weight: bold;
}

/* Melhorando os marcadores das descrições das atividades */
.curriculo-list {
    margin-bottom: 20px;
    list-style-type: disc;
    padding-left: 20px;
}

.curriculo-list i {
    font-size: 18px;
    margin-right: 10px;
    color: #00abf0;
    vertical-align: middle;
}

.curriculo-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    color: #ededed;
}

.curriculo-list li:hover i {
    color: #319cca;
}

/* Estilo para o efeito de hover nos cards */
.card-hover {
    transition: transform 0.3s ease-in-out;
}

.card-hover:hover {
    transform: scale(1.05);
}

/*KEYFRAMES ANIMATION*/

@keyframes showRight {
    100% {
        width: 0%;
    }    
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}